/* .LandingTxt{
    -webkit-text-stroke: 1px black;
    font-weight: bold;
  } */
  
  
  #landing-header{
    margin-top: 15%;
  }
  
  /* @media(max-width:1000px){
    #landing-header{
      width: 70%;
      margin: 15% 15%;
    }
  }
  @media(max-width:800px){
    #landing-header{
      width: 80%;
      margin: 15% 10%;
    }
  }


  @media(max-width:600px){
    #landing-header{
      width: 90%;
      margin: 75px 5%;
    }
  } */