.question{
    text-align: start;
    margin-left: 5%;
    font-size: 1rem;
    padding: 10px;

}

.option{
    padding: 0 10px;
    margin-left: 5%;
}

.form-check-input {
    position: absolute;
    margin-top: .5rem;
    margin-left: -1.25rem;
}

.invalid{
    background-color:#f867;
}